button,
.button {
  &,
  &:focus,
  &:visited {
    background-color: transparent;
    border-color: $bg-dark;
    color: inherit;

    // Primary Buttons
    &.primary {
      background-color: $brand-color;
      color: contrast-text-color($brand-color);
    }

    .night & {
      border-color: $bg-light;
    }
  }
}