button,
.button {
  &,
  &:focus,
  &:visited {
    background-color: transparent;
    border-color: $bg-dark;
    color: inherit;

    &:after {
      box-shadow: 0 6px 10px rgba(0,0,0,0.14), 0 1px 18px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.2);
    }

    // Primary Buttons
    &.primary {
      background-color: $brand-color;
      color: contrast-text-color($brand-color);
      box-shadow: 0 2px 4px rgba(0,0,0,0.14), 0 4px 5px rgba(0,0,0,0.12), 0 1px 10px rgba(0,0,0,0.2);
    }

    .night & {
      border-color: $bg-light;
    }
  }
}