header {
  .layout > &,
  .layout.night > & {
    $color: contrast-text-color($brand-color);
    background-color: $brand-color;
    color: $color;

    .nav-item {
      color: $color !important;

      &:hover {
        background-color: rgba($color, 0.12) !important;
      }
    }

    button,
    .button {
      box-shadow: none;
    }
  }
}