header {
  .layout > &,
  .layout.night > & {
    $color: contrast-text-color($brand-color);
    $deg: 90deg;
    $color1: $brand-color 0%;
    $color2: adjust-hue($brand-color, 15) 90%;
    background: linear-gradient($deg, $color1, $color2);
    color: $color;

    .nav-item {
      color: $color !important;

      &:hover {
        background-color: rgba($color, 0.12) !important;
      }
    }

    button,
    .button {
      &:after {
        background-color: $color !important;
      }
    }
  }
}