nav {
  .layout > & {
    background-color: $brand-lighter;
    color: contrast-text-color($brand-lighter);
  }

  .layout.night > & {
    background-color: $brand-darker;
    color: contrast-text-color($brand-darker);
  }

  @media (min-width: $screen-md-min) {
    .layout.split-header > & {
      $deg: 90deg;
      $color1: $secondary-color 0%;
      $color2: $brand-color 90%;
      background: linear-gradient($deg, $color1, $color2);
      color: contrast-text-color($brand-color);
    }
  }
}