@media (max-width: 768px) {
  #fixedHeaderToggleContainer {
    display: none;
  }

  #splitHeaderToggleContainer {
    display: none;
  }
}

.layout.sidebar #fixedHeaderToggleContainer {
  display: none;
}

.layout:not(.split-header) #splitHeaderToggleContainer {
  display: none;
}

details.show-code {
  background-color: #666;
  border-radius: 3px;
  border: 1px solid #444;
  padding: 6px 12px;
  color: #eee;
}

// details.show-code code {
//   background-color: #212121;
//   border-radius: 3px;
//   border: 1px solid #121212;
//   padding: 16px;
//   color: #eee;
//   display: block;
//   white-space: pre-wrap;
//   margin-top: 16px;
// }