
button,
.button {
  &,
  &:focus,
  &:visited {
    $padding: 26px;
    @include standard-transition(background);
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid $bg-dark;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 8px;
    min-width: 88px;
    outline: none;
    overflow: hidden;
    padding: ($padding / 2) $padding;
    position: relative;
    text-align: center;
    text-decoration: none;

    &:before,
    &:after {
      border-radius: 0;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      transition: transform 350ms ease;
      width: 100%;
      z-index: -1;
    }

    &:after {
      background-color: $bg-dark;
      opacity: 0.2;
      transform: translateX(-100%);
      z-index: -1;
    }
    
    &:hover:after {
      transform: translateX(0);
    }
    
    &:not(.material-icons) {
      font-family: $font-family-primary;
      font-size: 14px;
      text-transform: uppercase;
    }

    // Primary Buttons
    &.primary,
    &.primary:visited {
      background-color: transparent;
      border: none;
      color: contrast-text-color($brand-color);

      &:before {
        background-color: $brand-color;
      }
      
      &:after {
        background: linear-gradient(90deg, transparent 0%, adjust-hue($brand-color, 15) 50%, transparent 100%);
        opacity: 1;
        transform: translateX(-60%);
        width: 200%;
      }
      
      &:hover:after {
        transform: translateX(10%);
      }
    }

    // Icon Buttons
    &.material-icons {
      border-radius: 50%;
      border: none;
      min-width: 0;
      padding: 16px;

      &.primary {
        &:before,
        &:after {
          border-radius: 0;
        }
      }

      // Dense
      &.dense {
        padding: 8px;
        font-size: 1em;
      }

      &:after {
        border-radius: 0;
      }
    }

    // Night Buttons
    .night &:not(.primary) {
      border-color: $bg-light;

      &:after {
        background-color: $bg-light;
      }
    }
  }
}