button,
.button {
  &,
  &:focus,
  &:visited {
    $padding: 26px;
    @include standard-transition(box-shadow);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 8px;
    min-width: 88px;
    outline: none;
    padding: ($padding / 2) $padding;
    position: relative;
    text-align: center;
    text-decoration: none;

    &:not(.material-icons) {
      font-family: $font-family-primary;
      font-size: 14px;
      text-transform: uppercase;
    }

    // Primary Buttons
    &.primary {
      border: none;
    }

    // Icon Buttons
    &.material-icons {
      border-radius: 50%;
      border: none;
      min-width: 0;
      padding: 16px;

      &:after {
        border-radius: 50%;
      }

      // Dense
      &.dense {
        font-size: 1em;
        padding: 8px;
      }
    }
  }
}