.card {
  align-items: flex-start;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-flow: column nowrap;
  margin: 8px;
  width: 320px;

  > * {
    width: 100%;
  }

  > header {
    font-size: 1.15rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  // This gets replaced with .img
  > img {
    display: none;
  }

  // This is the replacement for the img
  > .img {
    height: 0;
    padding: 75% 0 0;
  }

  > figcaption {
    font-size: .85rem;
    padding: 4px 8px;
    flex: 1;
  }

  > .actions {
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    button,
    .button {
      border: none;

      &:after {
        z-index: 0;
      }
    }
  }

  > header,
  > figcaption,
  > .actions {
    padding: 8px 12px;
  }
}

.deck {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}