.nav-item,
.nav-item:visited {
  @include standard-transition(all);
  align-items: center;
  display: flex;
  height: $header-height;
  outline: 0;
  padding: 0 16px;
  text-decoration: none;

  .layout > nav & {
    width: 100%;
  }

  @media (min-width: $screen-md-min) {
    padding: 0 16px;

    .layout > nav & {
      width: auto;
    }

    .layout.sidebar > nav & {
      width: 100%;
    }
  }
}