body {
  background-color: $bg-light;
  color: $bg-dark;

  &.night {
    background-color: $bg-dark;
    color: $bg-light;
  }
}

header {
  .layout > & {
    background-color: $brand-color;
    color: contrast-text-color($brand-color);
  }
}

nav {
  .layout > & {
    $bg: mix($brand-color, $bg-light, 80%);
    background-color: $bg;
    color: contrast-text-color($bg);
  }

  .layout.night > & {
    $bg: mix($brand-color, $bg-dark, 80%);
    background-color: $bg;
    color: contrast-text-color($bg);
  }

  .layout.split-header > & {
    background-color: $brand-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brand-color;
}