@import 'variables';

$bg-light: #f9f9f9;
$bg-dark: invert($bg-light);

body {
  background-color: $bg-light;
  color: $bg-dark;
}

header {
  .layout > & {
    background-color: $brand-color;
  }
}

nav {
  .layout > & {
    background-color: rgba($brand-color, .12);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brand-color;
}