.layout {
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  padding-top: $header-height;

  @media (min-width: $screen-md-min) {
    align-items: stretch;
    flex-flow: row wrap;

    &.fixed-header {
      padding-top: $header-height * 2;

      &.split-header,
      &.sidebar {
        padding-top: $header-height;
      }
    }

    &:not(.fixed-header):not(.sidebar) {
      padding-top: 0;
    }
  }
}

.container {
  margin: 0;
  padding: 0 16px;
  width: 100%;

  .layout:not(.sidebar) & {
    @media (min-width: $screen-md-min) {
      margin: 0 auto;
      width: $screen-md-min;
    }

    @media (min-width: $screen-lg-min) {
      width: $screen-lg-min;
    }
  }
}

.responsive-container {
  margin: 0;
  overflow-x: auto;
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
  flex: 1 1 0;
}