
$font-size: 18px !default;
$font-family-primary: 'Open Sans', sans-serif !default;
$font-family-headings: 'Montserrat', sans-serif !default;

$nav-width: 250px !default;

$header-height: 3rem !default;

$footer-min-height: 2rem !default;

$screen-md-min: 768px !default;
$screen-sm-min: 480px !default;
$screen-xs-min: 320px !default;