// Variable Definitions
@import 'variables';

// Mixins and functions
@import 'mixins/animation';
@import 'functions/contrast';

// Components
@import 'components/header';
@import 'components/nav';
@import 'components/main';
@import 'components/footer';
@import 'components/buttons';

// Rules
@import 'typography';
@import 'color';
@import 'layout';

// Global Styles
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @include standard-transition(background);
  font-size: $font-size;
  margin: 0;
}
